<config version="1.0">
    <options>
        <directory path="scripts" />
        <logdir path="/tmp/buildlogs" />
        <debug value="true" />
    </options>

    <script name="FreeBSD_Source" />
    <script name="FreeBSD_Ports" />

    <script name="FreeBSD_Release">
        <dependency name="FreeBSD_Source" />
    </script>

    <script name="FreeBSD_Poudriere">
        <dependency name="FreeBSD_Ports" />
        <dependency name="FreeBSD_Release" />
    </script>
</config>
